#include "Base.xcconfig"

LICENSING_API_ENDPOINT = https:/$()/syc-courses-production.up.railway.app
LICENSING_KEY_ID = development-live-2026-08
LICENSING_PUBLIC_KEY_BASE64 = UydDqfMTRzbR5bjcs2EwuXFrtyxKMRZbQ6N5KFLFP5A=

COPY_PHASE_STRIP = NO
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
ONLY_ACTIVE_ARCH = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG $(inherited)
SWIFT_OPTIMIZATION_LEVEL = -Onone
