ASSETCATALOG_COMPILER_APPICON_NAME = $(COURSE_APP_ICON)
ALWAYS_SEARCH_USER_PATHS = NO
CODE_SIGN_STYLE = Automatic
CODE_SIGN_ENTITLEMENTS = SYCCoursesApp/SYCCoursesApp.entitlements
CURRENT_PROJECT_VERSION = 1
DEVELOPMENT_TEAM = J3HK4X59L3
ENABLE_USER_SCRIPT_SANDBOXING = NO
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = SYCCoursesApp/Info.plist
INFOPLIST_KEY_CFBundleDisplayName = $(COURSE_APP_DISPLAY_NAME)
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.sports
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents = YES
IPHONEOS_DEPLOYMENT_TARGET = 17.0
MARKETING_VERSION = 1.2.0
PRODUCT_BUNDLE_IDENTIFIER = $(COURSE_APP_BUNDLE_ID)
PRODUCT_NAME = $(COURSE_APP_DISPLAY_NAME)
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
SUPPORTS_MACCATALYST = NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = NO
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1
