#include "Base.xcconfig"

LICENSING_API_ENDPOINT = http:/$()/127.0.0.1:8787
LICENSING_KEY_ID = development-2026-01
LICENSING_PUBLIC_KEY_BASE64 = BxVHWSNBimgqNoaO11sxtzAfyX7vtn7MfA9qjLE2yu0=

COPY_PHASE_STRIP = NO
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
ONLY_ACTIVE_ARCH = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG $(inherited)
SWIFT_OPTIMIZATION_LEVEL = -Onone
